
<div class="header-header">
  <h3>Створення посту</h3>

</div>
<div class="card card-wrap" [formGroup]="form">

  <div class="form-control">
    <app-custom-input
      [label]="'Заголовок:'"
      formControlName="title"
      [requiredText]="'А заголовок буде?'"
      [class]="'valid-input'"
      [placeholder]="'Напишіть заголовок'"
    ></app-custom-input>
  </div>

  <div class="form-control">
    <label>Текст посту: </label>
    <div [froalaEditor]="editorConfig" [(froalaModel)]="editorContent"  formControlName="text"></div>
  </div>

  <div class="form-control">
    <app-custom-input
      [label]="'Автор посту:'"
      formControlName="author"
      [inputType]="'text'"
      [requiredText]="'Зазначте автора'"
      [placeholder]="'Вкажіть автора'"
    ></app-custom-input>
  </div>

  <button type="submit" class="btn btn-dark" (click)="createPost()"> Надіслати</button>
</div>
