<div
  class="input-wrap" [class]="inputClass"
     [ngClass]="(control && control.invalid && control.touched) ? 'invalid' : '' ">
  <label>{{label}}</label>
  <input [value]="value"
         [type]="inputType"
         [placeholder]="placeholder"
         (input)="changeValue($event)">
  <div class="validation" *ngIf="control?.touched && control?.invalid">
    <small *ngIf="control ? control.hasError('required') : undefined">{{requiredText}} <br></small>

    <small *ngIf="control ? control.hasError('minlength') : undefined">{{lenghtText}} </small>
  </div>
</div>
