<div *ngIf="form; else loader">
  <div class="card card-wrap" [formGroup]="form" >

    <div>
      <div class="form-control">
        <app-custom-input
          [label]="'Заголовок:'"
          formControlName="title"
          [requiredText]="'А заголовок буде?'"
          [class]="'valid-input'"
          [placeholder]="'Напишіть заголовок'"
        ></app-custom-input>
      </div>

      <div class="form-control">
        <label>Текст посту: </label>
        <div [froalaEditor]="editorConfig" [(froalaModel)]="editorContent" formControlName="text"></div>
      </div>
    </div>
    <br>

    <button type="submit" class="btn btn-dark" [disabled]="form.invalid" (click)="submit()"> Підтвердити</button>

  </div>
</div>
<ng-template #loader>
  Завантаження...
</ng-template>
