<div class="login-wrap" [formGroup]="form" >
  <h2>Вхід в панель адміністратора</h2>
{{message}}
  <div>
    <app-custom-input
            [label]="'Email:'"
            formControlName="email"
            [requiredText]="'Введіть коректний email'"
            [class]="'valid-input'"
            [placeholder]="'Email '"
            [inputType]="'email'"
    ></app-custom-input>
  </div>

  <div>
    <app-custom-input
            [label]="'Password:'"
            formControlName="password"
            [requiredText]="'Введіть коректний пароль'"
            [class]="'valid-input'"
            [placeholder]="'Password '"
            [inputType]="'password'"
    ></app-custom-input>
  </div>

  <button type="submit" class="btn btn-dark" [disabled]="form.invalid" (click)="submit()"> Вхід</button>
</div>
